/* גוף האתר - עיצוב שגלובאלי לכל הדפים באתר */
body {
    background-color: #FFFAE4;
    font-family: 'Assistant', sans-serif;
    overflow: hidden;
}

/*שורות בדף*/
/*שורה 1*/
#row1{
    height: 8vh;
}

/*שורה 2*/
#row2{
    height: 10vh;
}

/*שורה 3*/
#row3{
    height: 8vh;
}

/*שורה 4*/
#row4{
    height: 18vh;
}

#row5{
    height: 40vh;
}

#row6{
    height: 10vh;
}

#row7{
    height: 0vh;
}

/*כותרות*/
h1 {
    font-weight: 700;
    font-size: 350%;
    /* text-shadow: 3px 3px 5px #888; */
}

h2 {
    font-weight: 800;
    font-size: 125%;

}

h6{
    font-weight: 700;
    font-size: 120%;
    color: #FA882A;
}

/*תמונות*/
.pup-img {
    position: absolute;
    opacity: 50%;
    margin-top: -30vh;
    margin-left: 15vw;
    max-width: 40vw;
    z-index: -1;
}

.print-img{
    position: absolute;
    opacity: 15%;
    margin-top: -55vh;
    max-width: 120px;
    z-index: -1;
}

.logo-img {
    position: relative;
    /* max-width: 35%; */
    padding-top: 8px;
    height: 20vw;
}


/*חלונית אודות*/
.about-img{
    position: relative;
    max-width:100%;
    max-height: 10vh;
    padding-bottom: 10%;
    margin-bottom: 10%;
}

.about-text{
    font-weight: 600;
    font-size: 2.5vh;
}

#adiImg.about-img{
    top: 8%;
    left: 0%;
}

#kimImg.about-img{
    top: 2.2%;
    left: 0%;
   
}

#hitImg.about-img{
    top: 5%;
    left: -10%;
}

#centerImg.about-img{
    top: 8%;
    left: 10%;
}



/* כפתורים */
/* כפתור ראשי בהתאמה אישית */
.btn-bd-primary {
    /*טקסט*/
    color: #000;
    text-align: center;
    font-size: 275%;
    font-weight: 700;
    /*צורה*/
    border-radius: 100px;
    background-color: #FBB900;
    width: 320px;
    border: none;
    box-shadow: 1px 1px 5px #888;
    /*ריווח*/
    margin-top: 20px;

}

.btn-bd-secondary {
    /*טקסט*/
    color: #000;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    /*צורה*/
    border-radius: 100px;
    background-color: #ffffff;
    width: 220px;
    /*קו מתאר*/
    border-width: 2px;
    border-color: #FBB900;
    box-shadow: 1px 1px 5px #888;
    /*ריווח*/
    /* margin-top: 40px;
    margin-bottom: 15px; */
}

.btn-bd-about {
    /*טקסט*/
    color: #000;
    text-align: center;
    font-weight: 600;
    /*צורה*/
    border-radius: 24px;
    background-color: #ffffff;
    /*קו מתאר*/
    border-width: 2px;
    border-color: #FBB900;
}

#btnReport{
    font-size: 150%;
    font-weight: 700;
    padding: 16%;
    margin-left: -50%;
    margin-top: -50%;
}

.btn-bd-modal{
    color: white;
    background-color: #008285;
}

#aboutText{
    font-size: 160%;
}

#aboutWindow{
    height: 50vh;
}

/* קלאס שנותן לשקופיות בקרוסלה את הגודל שלהן */
.c-item {
    max-width: 100%;
}

/* קלאס שמתאים את התמונות בקרוסלה לגודל של השקופית שלהן */
.c-img {
    height: 100%;
    object-fit: cover;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



/*נקודות שבירה*/
/*טלפון נייד במצב מאונך*/
@media only screen and (max-width: 480px){
    h1{
        color: purple;
    }

    .btn-bd-secondary{
        width: 60vw;
    }
}

/*טלפון נייד במצב מאוזן*/
@media only screen and (min-width: 480px) and (max-height: 480px){
    h1{
        color: red;
    }
    
    .logo-img{
        height: 10vw;
    }

    .btn-bd-secondary{
        width: 25vw;
    }

    .btn-bd-about{
        position: relative;
    }

    #row2{
        margin-top: -7%;
    }

    #row4{
        margin-top: -4%;
    }

    #row5{
        margin-top: -2%;
    }

    .about-img{
        max-height: 20vh;
    }

    #aboutText{
        font-size: 5vh;
    }

    #aboutModalLabel{
        font-size: 10vh;
    }

    #aboutWindow{
        height: 75vh;
    }

    #kimImg.about-img{
        top: 7%;
        left: 0%;
       
    }
    
    #hitImg.about-img{
        top: 5%;
        left: 15%;
    }

    #centerImg.about-img{
        top: 8%;
        left: 16%;
    }

    .about-text{
        font-weight: 600;
        font-size: 3.5vh;
    }

}

/*טאבלט במצב מאונך*/
@media only screen and (min-width: 480px) and (min-height: 480px){
    h1{
        color: blue;
    }

    .logo-img{
        height: 10vw;
    }
}

/*טאבלט במצב מאוזן*/
@media only screen and (min-width: 1024px) and (max-height: 1024px){
    h1{
        color: green;
    }
}
