/*דף עיצוב חדש */
/*זה קיים כדי שיהיה נקי בכתיבה וגם נוח לתיעוד*/

/*גרפיקות שעל המסך*/
/*כל התמונות, צורות וכד' יושבים כאן*/


/*התמונה הגדולה של דף הבית*/
/* תכונות שאחידות לתמונות */
.home-img {
    position: absolute;
    z-index: -1;
}

/* תמונה עילית - למצב מאונך */
#topPic {
    max-width: 100vw;
}

/* תמונה צדדית - למצב מאוזן */
#sidePic {
    max-height: 100svh;
}

#botPic {
    max-width: 100%;
}

/* תמונה של הלוגו */
#logoPic {
    /* תכונות אחידות */
    position: fixed;
    max-width: 160px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;

    /* תכונות ייחודיות */
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 35%);
    margin: -15px auto;
    padding-bottom: 20px;
}



/*דף בחירת השבוע*/

/* הטור הימני/עליון - כתום */
#rightCol {
    /* color: white; */
    /* background-image: linear-gradient(#F5812A,  #FE852F); */
    font-size: 120%;
    font-weight: 600;
    direction: rtl;
    padding: 20px;

    /*דינאמי*/
    /* height: 30svh; */
}

/*כותרת*/
h1 {
    color: white;
    font-size: 220%;
}

/*גרפיקה של עיגול לרקע*/
#circle {
    position: absolute;
    top: 0%;
    left: 30%;
    z-index: -1;
    background-image: linear-gradient(to right, #F5812A, #FCB228);
    width: 70%;
    border-radius: 100%;

    /*דינאמי*/
    height: 35svh;
    display: auto;
}


/* הטור השמאלי/תחתון - לבן */
#leftCol {
    background-color: white;

    /*דינאמי*/
    /* height: 70svh; */
}

/*כותרת*/
h3 {
    color: #FD8231;
    font-size: 120%;
    font-weight: 700;

    /*דינאמי*/
    padding-top: 20px;
}

/* כפתורים לדף בחירת שבוע*/
.btn-week-secondary {
    /*טקסט*/
    color: #FC6542;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    /*צורה*/
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    /*קו מתאר*/
    border-width: 10px;
    border: 2px solid #FD8231;
    box-shadow: 3px 3px 4px #8e3900a3;

    /*דינאמי*/
    width: 35vw;
    margin: 4vw;
}

/* כפתורים */
/* כפתור ראשי בהתאמה אישית */
.btn-home-primary {
    /*טקסט*/
    color: #ffffff;
    text-align: center;
    font-size: 300%;
    font-weight: 700;
    line-height: 1.1;
    /*צורה*/
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, #FE8F32, #FAB527);
    width: 180px;
    height: 180px;
    border: none;
    box-shadow: 2px 2px 8px #8e3900;
    /*ריווח*/
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#enterBtn {
    margin-top: 35svh;
    /* margin-right: 0svh; */
}

/* כפתור משני בהתאמה אישית */
.btn-home-secondary {
    /*טקסט*/
    color: #FC6542;
    text-align: center;
    font-size: 150%;
    font-weight: 700;
    /*צורה*/
    border-radius: 15px;
    background-color: #ffffff;
    padding: 10px;
    /*קו מתאר*/
    border-width: 2px;
    border: none;
    box-shadow: 2px 2px 8px #8e3900;

    /*דינאמי*/
    width: 40vw;
    margin: 2vw;
}





/*נקודות שבירה*/
/*טלפון נייד במצב מאונך*/
@media only screen and (max-width: 640px) {

    #sidePic {
        display: none;
    }

    #botPic {
        display: none;
    }

    /*דף בחירת השבוע*/

    /* הטור הימני/עליון - כתום */
    #rightCol {

        /*דינאמי*/
        height: 35svh;
    }

    /* הטור השמאלי/תחתון - לבן */
    #leftCol {

        /*דינאמי*/
        height: 65svh;
    }

}

/*---------------------------------------------*/
/*טלפון נייד במצב מאוזן*/
@media only screen and (min-width: 640px) and (max-height: 640px) {

    h3 {
        margin-bottom: 2svh;
    }

    #topPic {
        display: none;
    }

    #circle {
        display: none;
    }

    #botPic {
        position: relative;
        transform: translate(0%, 0%);
    }

    /* תמונה של הלוגו */
    #logoPic {

        /* תכונות ייחודיות */
        left: 100%;
        top: 0%;
        transform: translate(-95%, -5%);
        margin: 0px auto;
        padding: 5px;
        /*מיקום הריפוד משתנה בהתאם למיקום במסך*/
    }

    #enterBtn {
        margin-top: 15svh;
        margin-left: 7vw;
    }

    /* כפתור משני בהתאמה אישית */
    .btn-home-secondary {
        padding: 6px 0px 6px 0px;
        /*דינאמי*/
        width: 18vw;
        margin: 0.5vw;
    }

    /*הטור של הכפתורי משנה*/
    #col1 {
        transform: translate(17%, 0%);
    }

    /*הטור של הכפתורי משנה*/
    #col2 {
        margin-left: 0vw;
    }

    #btnCol {
        margin-left: 4vw;
        margin-top: 5svh;
    }


    /*דף בחירת השבוע*/

    /* הטור הימני/עליון - כתום */
    #rightCol {

        /*דינאמי*/
        transform: translate(150%, 0);
        height: 100svh;
    }

    /* הטור השמאלי/תחתון - לבן */
    #leftCol {

        /*דינאמי*/
        transform: translate(-80%, 0);
        height: 100svh;
    }

    /* כפתורים לדף בחירת שבוע*/
    .btn-week-secondary {
        /*צורה*/
        border-radius: 20px;
        padding: 5px;

        /*דינאמי*/
        width: 15vw;
        margin: 10px;
    }



}


/*טאבלט במצב מאונך*/
@media only screen and (min-width: 640px) and (min-height: 640px) {

    #sidePic {
        display: none;
    }

    #botPic {
        display: none;
    }

    /* כפתור ראשי - יישור */
    #enterBtn {
        margin-top: 42svh;
        /* margin-right: 0svh; */
    }

    /* כפתורי משנה - יישור */
    .btn-home-secondary {
        /* padding: 6px 0px 6px 0px; */
        /*דינאמי*/
        width: 35vw;
        margin: 2vw;
    }

}

/*טאבלט במצב מאוזן*/
@media only screen and (min-width: 1024px) and (max-height: 1024px) {

    #topPic {
        display: none;
    }

    #sidePic {
        display: block
    }

    #circle {
        display: none;
    }

}

/*דסקטופ במצב מאוזן*/
/* @media only screen and (min-width: 1024px) and (min-height: 1024px) {}